<!DOCTYPE html>
<!--加载静态文件-->
{% load static %}
<html lang="zh-hans">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>考试</title>
    <link rel="stylesheet" type="text/css" href="{% static 'others/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'others/css/bootsnav.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'others/css/search.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'others/css/style.css' %}">
</head>
<body>               
               

<!--Header-->
<div id="mainMenuBarAnchor"></div>
<header class="white_header">
  <nav class="navbar navbar-default bootsnav">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
            <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="{% url 'ExamApp:老师主页' user.username 'all' %}">
                <img src="{% static 'others/images/logo.png' %}" class="logo" alt="">
            </a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="nav navbar-nav navbar-right" data-in="fadeIn" data-out="fadeOut">
              <li><a href="{% url 'ExamApp:学生主页' user.username %}">试卷主页</a></li>
			  <li><a href="{% url 'ExamApp:考试页面' user.username paper.paper_id %}">考试</a></li>
              <li><a href="./showgrade.html">成绩分析</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
<!--Header Ends-->

<!--Partners-->
<div style="display:flex;">
<div class="grade_left" style="margin: 0 auto">
  <form class="callus" method="post">
      {% csrf_token %}
      <h2 class="text-uppercase t_white bottom20 text-center">{{ paper.paper_name }}</h2>

        <ul>
            <li>
                {% if choice_problems %}
                    <div class="problem">
                        选择题
                    </div>
                    {% for choice_problem in choice_problems %}
                        <div class="student_answer" id="index_{{ choice_problem.temp_index }}">
                            <p style="font-size: 18px;color: #0f0f0f;word-wrap: break-word;word-break: break-all;">
                                {{ choice_problem.temp_index }}.&nbsp;{{ choice_problem.content }}
                            </p>
                            <input type="radio" name="{{ choice_problem.id }}_choice" class="gcs-radio" id="{{ choice_problem.id }}_A" value="1" />
                            <label for="{{ choice_problem.id }}_A"></label>&nbsp;A.&nbsp;{{ choice_problem.option_A }}<br>
                            <input type="radio" name="{{ choice_problem.id }}_choice" class="gcs-radio" id="{{ choice_problem.id }}_B" value="2" />
                            <label for="{{ choice_problem.id }}_B"></label>&nbsp;B.&nbsp;{{ choice_problem.option_B }}<br>
                            <input type="radio" name="{{ choice_problem.id }}_choice" class="gcs-radio" id="{{ choice_problem.id }}_C" value="3" />
                            <label for="{{ choice_problem.id }}_C"></label>&nbsp;C.&nbsp;{{ choice_problem.option_C }}<br>
                            <input type="radio" name="{{ choice_problem.id }}_choice" class="gcs-radio" id="{{ choice_problem.id }}_D" value="4" />
                            <label for="{{ choice_problem.id }}_D"></label>&nbsp;D.&nbsp;{{ choice_problem.option_D }}<br>
                        </div>
                    {% endfor %}
                {% endif %}
            </li>

            <li>
                {% if judge_problems %}
                    <div class="problem">
                        判断题
                    </div>
                        {% for judge_problem in judge_problems %}
                            <div class="student_answer" id="index_{{ judge_problem.temp_index }}">
                                <p style="font-size: 18px;color: #0f0f0f;word-wrap: break-word;word-break: break-all;">
                                    {{ judge_problem.temp_index }}.&nbsp;{{ judge_problem.content }}
                                </p>
                                <input type="radio" name="{{ judge_problem.id }}_judge" class="gcs-radio" id="{{ judge_problem.id }}_对" value="True" />
                                <label for="{{ judge_problem.id }}_对"></label>&nbsp;对<br>
                                <input type="radio" name="{{ judge_problem.id }}_judge" class="gcs-radio" id="{{ judge_problem.id }}_错" value="False" />
                                <label for="{{ judge_problem.id }}_错"></label>&nbsp;错<br>
                            </div>
                        {% endfor %}
                {% endif %}
            </li>

            <li>
                {% if fillblank_problems %}
                    <div class="problem">
                        填空题
                    </div>
                    {% for fillblank_problem in fillblank_problems %}
                        <div class="student_answer" id="index_{{ fillblank_problem.temp_index }}">
                            <p style="font-size: 18px;color: #0f0f0f;word-wrap: break-word;word-break: break-all;">
                                {{ fillblank_problem.temp_index }}.&nbsp;{{ fillblank_problem.content }}
                            </p>
                            <input type="text" class="keyword-input" style="width: 100%" name="{{ fillblank_problem.id }}_fillblank">
                        </div>
                    {% endfor %}
                {% endif %}
            </li>

            <li>
                {% if QA_problems %}
                    <div class="problem">
                        问答题
                    </div>
                    {% for QA_problem in QA_problems %}
                        <div class="student_answer" id="index_{{ QA_problem.temp_index }}">
                            <p style="font-size: 18px;color: #0f0f0f;word-wrap: break-word;word-break: break-all;">
                                {{ QA_problem.temp_index }}.&nbsp;{{ QA_problem.content }}
                            </p>
                            <textarea class="keyword-input" style="width: 100%" cols="80" rows="8" name="{{ QA_problem.id }}_QA"></textarea>
                        </div>
                    {% endfor %}
                {% endif %}
            </li>

            <li>
                {% if operate_problems %}
                    <div class="problem">
                        实际操作题
                    </div>
                    {% for operate_problem in operate_problems %}
                        <div class="student_answer" id="index_{{ operate_problem.temp_index }}">
                            <p style="font-size: 18px;color: #0f0f0f;word-wrap: break-word;word-break: break-all;">
                                {{ operate_problem.temp_index }}.&nbsp;{{ operate_problem.content }}
                            </p>
                            <textarea class="student_answer"  cols="80" rows="8" name="{{ operate_problem.id }}_operate"></textarea>
                        </div>
                    {% endfor %}
                {% endif %}
            </li>

        </ul>

        <div class="row">
          <div class="text-right">
            <button type="submit" class="border_radius btn-yellow text-uppercase" onclick="return confirm('确认提交吗?\n提交需要一点时间，请您耐心等待...')">提交</button>
          </div>
        </div>
  </form>
</div>

<div class="exam_right" style="right: 3%;position: fixed;top: 9%;">
    <h4>题目</h4>
    <ul class="">
        {% if choice_problems %}
            <div style="margin-bottom: 5%">
                <div class="problem">
                    选择题
                </div>
                <div style="margin-left: 5%;margin-right: 5%">
                    {% for choice_problem in choice_problems %}
                        <li style="margin-top: 3%">
                            <a href="#index_{{ choice_problem.temp_index }}">{{ choice_problem.temp_index }}</a>
                        </li>
                    {% endfor %}
                </div>
        </div>
        {% endif %}
        {% if judge_problems %}
            <div style="margin-bottom: 5%">
                <div class="problem">
                    判断题
                </div>
                <div style="margin-left: 5%;margin-right: 5%">
                    {% for judge_problem in judge_problems %}
                        <li style="margin-top: 3%">
                            <a href="#index_{{ judge_problem.temp_index }}">{{ judge_problem.temp_index }}</a>
                        </li>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% if fillblank_problems %}
            <div style="margin-bottom: 5%">
                <div class="problem">
                    填空题
                </div>
                <div style="margin-left: 5%;margin-right: 5%">
                    {% for fillblank_problem in fillblank_problems %}
                        <li style="margin-top: 3%">
                            <a href="#index_{{ fillblank_problem.temp_index }}">{{ fillblank_problem.temp_index }}</a>
                        </li>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% if QA_problems %}
            <div style="margin-bottom: 5%">
                <div class="problem">
                    问答题
                </div>
                <div style="margin-left: 5%;margin-right: 5%">
                    {% for QA_problem in QA_problems %}
                        <li style="margin-top: 3%">
                            <a href="#index_{{ QA_problem.temp_index }}">{{ QA_problem.temp_index }}</a>
                        </li>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% if operate_problems %}
            <div style="margin-bottom: 5%">
                <div class="problem">
                    实际操作题
                </div>
                <div style="margin-left: 5%;margin-right: 5%">
                    {% for operate_problem in operate_problems %}
                        <li style="margin-top: 3%">
                            <a href="#index_{{ operate_problem.temp_index }}">{{ operate_problem.temp_index }}</a>
                        </li>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </ul>
</div>
            
</div>
<!--Partners Ends-->



<!--Footer-->
<footer class="footer_third">
  <div class="container padding_top">
    <!--CopyRight-->
    <div class="copyright_simple">
        <div class="col-md-6 col-sm-5 top20 bottom20">
          <p>数据库课设——数据库试卷管理系统——2018.12.01 </p>
		  <a href="{% url 'ExamApp:报告错误' user.username %}">
		    <button type="submit" class="border_radius btn" style="left:180%;">
              试卷系统bug提交
            </button>
          </a>
      </div>
    </div>
  </div>
</footer>


<script>
    {% if result is True %}
        alert("提交试卷成功!");
        window.location.href="{% url 'ExamApp:学生主页' user.username %}";
    {% elif result is False %}
        alert("提交试卷失败!");
        window.history.go(-1);
    {% endif %}
</script>
<script src="{% static 'others/js/jquery-2.1.4.js' %}"></script>
<script src="{% static 'others/js/masonry.pkgd.min.js' %}"></script>
<script src="{% static 'others/js/zelect.js' %}"></script>
<script src="{% static 'others/js/custom.js' %}"></script>
<script src="{% static 'others/js/functions.js' %}"></script>

</body>
</html>