<!DOCTYPE html>
<!--加载静态文件-->
{% load static %}
<html lang="zh-hans">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>组卷</title>
    <link rel="stylesheet" type="text/css" href="{% static 'others/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'others/css/bootsnav.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'others/css/search.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'others/css/style.css' %}">
</head>


<body>               

<!--Header-->
<div id="mainMenuBarAnchor"></div>
<header class="white_header">
  <nav class="navbar navbar-default bootsnav">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
            <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="{% url 'ExamApp:老师主页' user.username 'all' %}">
                <img src="{% static 'others/images/logo.png' %}" class="logo" alt="">
            </a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="nav navbar-nav navbar-right" data-in="fadeIn" data-out="fadeOut">
              <li><a href="{% url 'ExamApp:老师主页' user.username 'all' %}">管理学生</a></li>
              <li><a href="{% url 'ExamApp:管理试题' user.username 'all' %}">管理试题</a></li>
              <li><a href="{% url 'ExamApp:创建试卷' user.username %}">组卷</a></li>
              <li><a href="{% url 'ExamApp:评分' user.username 'all' 'all' %}">评分 </a></li>
              <li><a href="{% url 'ExamApp:考试情况' user.username 'all' %}">考试情况</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
<!--Header Ends-->

<!--Partners-->
<section id="logos">  	
<div class="tp_overlay">
  <form class="callus" method="post" onsubmit="return checkall()">
      {% csrf_token %}
      <h2 class="text-uppercase t_white bottom20 text-center">组卷</h2>

        <div class="row">
            <h3>试卷名</h3>
              <div class="col-sm-6">
                <div class="single-query bottom15">
                  <input id="paper_name" type="text" class="keyword-input" name="paper_name">
                </div>
              </div>
        </div>

        <div class="row">
            <h3>试卷难度</h3>
              <div class="col-sm-6">
                <div class="single-query bottom15">
                    <select name="paper_level">
                      <option value="1">简单</option>
                      <option value="2">中等</option>
                      <option value="3">困难</option>
                    </select>
                </div>
              </div>
        </div>

        <div class="row">
            <h3>考试开始时间(年/月/日/时/分)</h3>
             <div class="col-sm-2">
                 <div class="single-query bottom15">
                    <input id="start_time_date" class="keyword-input" type="date" name="start_date">
                 </div>
             </div>
             <div class="col-sm-2">
                <div class="single-query bottom15">
                    <input id="start_time_hour" type="number" value="0" name="start_hour" max="23" min="0" class="keyword-input" placeholder="时">
                </div>
             </div>
             <div class="col-sm-2">
                <div class="single-query bottom15">
                    <input id="start_time_minute" type="number" value="0" name="start_minute" max="23" min="0" class="keyword-input" placeholder="分">
                </div>
             </div>
        </div>

        <div class="row">
            <h3>考试结束时间(年/月/日/时/分)</h3>
             <div class="col-sm-2">
                <div class="single-query bottom15">
                    <input id="end_time_date" class="keyword-input" type="date" name="end_date">
                </div>
             </div>
             <div class="col-sm-2">
                <div class="single-query bottom15">
                  <input id="end_time_hour" type="number" value="0" name="end_hour" max="23" min="0" class="keyword-input" placeholder="时">
                </div>
             </div>
             <div class="col-sm-2">
                <div class="single-query bottom15">
                  <input id="end_time_minute" type="number" value="0" name="end_minute" max="23" min="0" class="keyword-input" placeholder="分">
                </div>
             </div>
        </div>

      {% for problem_name in problem_names %}
      <div class="row">
        <h3>{{ problem_name }}</h3>
          <div class="col-sm-4 col-xs-6">
              <div class="single-query bottom15">
                <input id="ChoiceProblem_simple" type="number" name="{{ problem_name }}_simple" max="50" min="0"  class="keyword-input" placeholder="题目数量（简单）">
              </div>
          </div>
          <div class="col-sm-4 col-xs-6">
              <div class="single-query bottom15">
                <input id="ChoiceProblem_middle" type="number" name="{{ problem_name }}_middle" max="50" min="0" class="keyword-input" placeholder="题目数量（中等）">
              </div>
          </div>
          <div class="col-sm-4 col-xs-6">
              <div class="single-query bottom15">
                <input id="ChoiceProblem_hard" type="number" name="{{ problem_name }}_difficult" max="50" min="0" class="keyword-input" placeholder="题目数量（困难）">
              </div>
          </div>
          <div class="col-sm-4">
            <div class="single-query bottom15">
              <input id="ChoiceProblem_grade" type="number" name="{{ problem_name }}_point" min="1" class="keyword-input" placeholder="每题分值">
            </div>
          </div>
        </div>
      {% endfor %}

        <div class="row">
          <div class="text-right ">
            <button type="submit" class="border_radius btn-yellow text-uppercase">生成试卷</button>
          </div>
        </div>
  </form>
</div>

</section>
<!--Partners Ends-->



<!--Footer-->
<footer class="footer_third">
  <div class="container padding_top">
    <!--CopyRight-->
    <div class="copyright_simple">
        <div class="col-md-6 col-sm-5 top20 bottom20">
          <p>数据库课设——数据库试卷管理系统——2018.12.01 </p>
		  <a href="{% url 'ExamApp:报告错误' user.username %}">
              <button type="submit" class="border_radius btn" style="left:180%;" name="commit_bug">
                  试卷系统bug提交
              </button>
          </a>
      </div>
    </div>
  </div>
</footer>


<script>
    {% if result is True %}
        alert("生成试卷成功!");
        window.location.href = "{% url 'ExamApp:创建试卷' user.username %}";
    {% elif result is False %}
        alert("生成试卷失败!");
        window.history.go(-1);
    {% endif %}
</script>
<script>
    function check_all(){
        var start_date = document.getElementById("start_time_date");
        var end_date = document.getElementById("end_time_date");
        if(start_date == ""){
            alert("考试开始日期不能为空!");
            return false;
        }
        if(end_date == ""){
            alert("考试结束日期不能为空!");
            return false;
        }
    }
</script>
<script src="{% static 'others/js/jquery-2.1.4.js' %}"></script>
<script src="{% static 'others/js/masonry.pkgd.min.js' %}"></script>
<script src="{% static 'others/js/zelect.js' %}"></script>
<script src="{% static 'others/js/custom.js' %}"></script>
<script src="{% static 'others/js/functions.js' %}"></script>

</body>
</html>