<!DOCTYPE html>
<!--加载静态文件-->
{% load static %}
<html lang="zh-hans">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>评分</title>
    <link rel="stylesheet" type="text/css" href="{% static 'others/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'others/css/bootsnav.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'others/css/search.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'others/css/style.css' %}">
</head>
<body>               
               

<!--Header-->
<div id="mainMenuBarAnchor"></div>
<header class="white_header">
  <nav class="navbar navbar-default bootsnav">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
            <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="{% url 'ExamApp:老师主页' user.username 'all' %}">
                <img src="{% static 'others/images/logo.png' %}" class="logo" alt="">
            </a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="nav navbar-nav navbar-right" data-in="fadeIn" data-out="fadeOut">
              <li><a href="{% url 'ExamApp:老师主页' user.username 'all' %}">管理学生</a></li>
              <li><a href="{% url 'ExamApp:管理试题' user.username 'all' %}">管理试题</a></li>
              <li><a href="{% url 'ExamApp:创建试卷' user.username %}">组卷</a></li>
              <li><a href="{% url 'ExamApp:评分' user.username 'all' 'all' %}">评分 </a></li>
              <li><a href="{% url 'ExamApp:考试情况' user.username 'all' %}">考试情况</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
<!--Header Ends-->

<!--Partners-->
<div style="display:flex;">

{% if papers %}
    <div class="grade_right" style="margin-left: 2%">
        <h4>试卷列表</h4>
        <ul class="">
            {% for paper in papers %}
                <li style="margin-bottom: 3%;font-family: Consolas">
                  <a href="{% url 'ExamApp:评分' user.username paper.paper_id 'all' %}">{{ paper.paper_name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% else %}
{% endif %}


<div class="grade_left" style="margin-left: 2%">
  <form class="callus" method="post">
      <h2 class="text-uppercase t_white bottom20 text-center">
          {% if paper %}
              {{ paper.paper_name }}
          {% else %}
              请选择您要批阅的试卷 ->
          {% endif %}
      </h2>

	
    <ul>
        <h3 style="color: white;font-weight: bolder;margin-bottom: 3%">填空题:</h3>
        {% if fillblank_answers %}
            {% for fillblank_answer in fillblank_answers %}
                <li>
                    <div class="row">
                        <div class="problem">
                            <strong>题目:</strong>&nbsp;&nbsp;{{ fillblank_answer.content }}
                        </div>
                        <div class="student_answer">
                            <strong>学生回答:</strong><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ fillblank_answer.user_answer }}
                        </div>
                        <div class="reference_answer">
                            <strong>参考答案:</strong><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ fillblank_answer.standard_answer }}
                        </div>
                        <div class="problem_grade">
                            <input style="margin-left: 8%" id="fillblank" type="number" name="{{ fillblank_answer.problem_id }}_{{ fillblank_answer.problem_type }}" min="0" class="keyword-input" placeholder="分数">
                        </div>
                    </div>
                </li>
                <hr>
            {% endfor %}
        {% endif %}

        <h3 style="color: white;font-weight: bolder;margin-bottom: 3%">问答题:</h3>
        {% if QA_answers %}
            {% for QA_answer in QA_answers %}
                <li>
                    <div class="row">
                        <div class="problem">
                            <strong>题目:</strong>&nbsp;&nbsp;{{ QA_answer.content }}
                        </div>
                        <div class="student_answer">
                            <strong>学生回答:</strong><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ QA_answer.user_answer }}
                        </div>
                        <div class="reference_answer">
                            <strong>参考答案:<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>{{ QA_answer.standard_answer }}
                        </div>
                        <div class="problem_grade">
                            <input style="margin-left: 8%" id="QAProblem" type="number" name="{{ QA_answer.problem_id }}_{{ QA_answer.problem_type }}" min="0" class="keyword-input" placeholder="分数">
                        </div>
                    </div>
                </li>
                <hr>
            {% endfor %}
        {% endif %}

        <h3 style="color: white;font-weight: bolder;margin-bottom: 3%">实际操作题:</h3>
        {% if operate_answers %}
            {% for operate_answer in operate_answers %}
                <li>
                    <div class="row">
                        <div class="problem">
                            <strong>题目:&nbsp;&nbsp;</strong>{{ operate_answer.content }}
                        </div>
                        <div class="student_answer">
                            <strong>学生回答:<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>{{ operate_answer.user_answer }}
                        </div>
                        <div class="reference_answer">
                            <strong>参考答案:<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>{{ operate_answer.standard_answer }}
                        </div>
                        <div class="problem_grade">
                            <input style="margin-left: 8%" id="OperateProblem" type="number" name="{{ operate_answer.problem_id }}_{{ operate_answer.problem_type }}" min="0" class="keyword-input" placeholder="分数">
                        </div>
                    </div>
                </li>
                <hr>
            {% endfor %}
        {% endif %}
    </ul>
	

    <div class="row" style="margin-bottom: 5%;margin-top: 3%">
      <div class="text-right">
        <button type="submit" class="border_radius btn-yellow text-uppercase" style="margin-right: 7%">提交成绩</button>
      </div>
    </div>
  </form>
</div>

{% if students %}
    <div class="grade_right" style="margin-right: 2%">
        <h4>学生试卷</h4>
        <ul class="">
            {% for student in students %}
                <li style="margin-bottom: 3%;font-family: Consolas">
                  <a href="{% url 'ExamApp:评分' user.username paper.paper_id student.uid %}">
                      {{ student.real_name }}&nbsp;{{ student.username }}
                  </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% else %}
{% endif %}

            
</div>
<!--Partners Ends-->



<!--Footer-->
<footer class="footer_third">
  <div class="container padding_top">
    <!--CopyRight-->
    <div class="copyright_simple">
        <div class="col-md-6 col-sm-5 top20 bottom20">
          <p>数据库课设——数据库试卷管理系统——2018.12.01 </p>
		  <a href="{% url 'ExamApp:报告错误' user.username %}">
		    <button type="submit" class="border_radius btn" style="left:180%;">
                试卷系统bug提交
            </button>
          </a>
      </div>
    </div>
  </div>
</footer>



<script>
    {% if result is True %}
        alert("提交试卷成功!");
        window.location.href="{% url 'ExamApp:评分' user.username paper.paper_id 'all' %}";
    {% elif result is False %}
        alert("提交试卷失败!");
        window.history.go(-1);
    {% endif %}
</script>
<script src="{% static 'others/js/jquery-2.1.4.js' %}"></script>
<script src="{% static 'others/js/masonry.pkgd.min.js' %}"></script>
<script src="{% static 'others/js/zelect.js' %}"></script>
<script src="{% static 'others/js/custom.js' %}"></script>
<script src="{% static 'others/js/functions.js' %}"></script>

</body>
</html>