<!DOCTYPE html>
<!--加载静态文件-->
{% load static %}
<html lang="zh-hans">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>管理学生</title>
    <link rel="stylesheet" type="text/css" href="{% static 'others/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'others/css/bootsnav.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'others/css/search.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'others/css/style.css' %}">
</head>
<body>               
               

<!--Header-->
<div id="mainMenuBarAnchor"></div>
<header class="white_header">
  <nav class="navbar navbar-default bootsnav">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
            <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="{% url 'ExamApp:老师主页' user.username 'all' %}">
                <img src="{% static 'others/images/logo.png' %}" class="logo" alt="">
            </a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="nav navbar-nav navbar-right" data-in="fadeIn" data-out="fadeOut">
              <li><a href="{% url 'ExamApp:老师主页' user.username 'all' %}">管理学生</a></li>
              <li><a href="{% url 'ExamApp:管理试题' user.username 'all' %}">管理试题</a></li>
              <li><a href="{% url 'ExamApp:创建试卷' user.username %}">组卷</a></li>
              <li><a href="{% url 'ExamApp:评分' user.username %}">评分 </a></li>
              <li><a href="{% url 'ExamApp:考试情况' user.username '1' %}">考试情况</a></li>
            </ul>
          </div></div> </div> </div>
  </nav>
</header>
<!--Header Ends-->

<!--Partners-->
<div style="display:flex;">

<div class="student_center">
  <form class="callus">
        <h2 class="text-uppercase t_white bottom20 text-center">学生信息</h2>
    
        <table id="student_message">
            <tr>
                <th>学号</th>
                <th>姓名</th>
                <th>班级</th>
            </tr>

            {% for student in student_list %}
            <tr>
                <td><input name="in" type="checkbox">{{ student.username }}</td>
                <td>{{ student.real_name }}</td>
                <td>{{ student.class_name }}</td>
            </tr>
            {% endfor %}

        </table>
        <p style="font-size: 18px;font-family: Consolas;color: #02b2e1;text-align: right;margin-top: 3%">
            {% if class_name != 'all' %}
            {{ class_name }}
            {% endif %}
            一共有
            <strong>{{ student_list|length }}</strong>
            个学生
        </p>
 </form>
</div>

<div class="grade_right">
    <h4>班级</h4>
    <ul class="">
        {% for class in class_list %}
            <li style="margin-bottom: 3%;font-family: Consolas">
                <a href="{% url 'ExamApp:老师主页' user.username class.class_name %}">
                    {{ class.class_name }}
                </a>
            </li>
        {% endfor %}
    </ul>

</div>
            
</div>
<!--Partners Ends-->



<!--Footer-->
<footer class="footer_third">
  <div class="container padding_top">
    <!--CopyRight-->
    <div class="copyright_simple">
        <div class="col-md-6 col-sm-5 top20 bottom20">
          <p>数据库课设——数据库试卷管理系统——2018.12.01 </p>
		  <a href="{% url 'ExamApp:报告错误' user.username %}">
              <button type="submit" class="border_radius btn" style="left:200%;" name="commit_bug">
                  试卷系统bug提交
              </button>
          </a>
      </div>
    </div>
  </div>
</footer>


<script>
function remove()
{var boxes = document.getElementsByName("in");
for(var k=boxes.length-1;k>=0;k--)
if(boxes[k].checked){
boxes[k].parentNode.parentNode.parentNode.removeChild(boxes[k].parentNode.parentNode);             
	}
}

function add()
{   var id = document.getElementById("student_id").value;
    var name = document.getElementById("student_name").value;
    if (id&&name) {
	var D = new Date();
	var set=document.createElement("tr");
	set.innerHTML='<td><input name="in" type="checkbox">'+id+'</td><td>'+name+'</td><td>'+D.toLocaleDateString()+'</td>';
	var newnew=document.getElementById('student_message');
	newnew.appendChild(set);
	}
}

function modify()
{
var id = document.getElementById("student_id").value;
var name = document.getElementById("student_name").value;
if (id||name) {
var boxes = document.getElementsByName("in");
for(var k=boxes.length-1;k>=0;k--)
if(boxes[k].checked){
var td = boxes[k].parentNode.parentNode.childNodes;
if (id) td[1].innerHTML='<input name="in" type="checkbox">'+id;
if (name) td[3].innerHTML=name;
var D = new Date();
td[5].innerHTML=D.toLocaleDateString();        
}
}
}

    </script>
<script src="{% static 'others/js/jquery-2.1.4.js' %}"></script>
<script src="{% static 'others/js/masonry.pkgd.min.js' %}"></script>
<script src="{% static 'others/js/zelect.js' %}"></script>
<script src="{% static 'others/js/custom.js' %}"></script>
<script src="{% static 'others/js/functions.js' %}"></script>

</body>
</html>